<div class="row list-container mt-150">
  <div *ngFor="let doct of doctors" class="list-view flex-aic-jcsb">
    <div class="flex-aic-jcsb">
      <img src={{doct.img_url}} />
      <div class="list-details">
        <p class="list-head">{{doct.doctor_name}}</p>
        <p class="list-text">{{doct.doctor_id}}</p>
        <p class="list-text">{{doct.address}}</p>
      </div>
    </div>
    <div class="list-timings">
      <p class="list-head">{{doct.dept}}</p>
      <p class="list-text">Last Visited</p>
      <p class="list-text">{{doct.last_view}}</p>
    </div>
  </div>
</div>
