<mat-drawer-container class="main-drawer" autosize>
  <mat-drawer class="side-nav" #drawer mode="side">
    <div class="row side-nav-list flex-v"
      routerLink="/{{type}}/{{viewId}}/dashboard" 
      [routerLinkActiveOptions]="routerOptions"
      routerLinkActive="active" (click)="drawer.toggle()">
      <i class="appicon app-dashboard side-nav-icon"></i> <p class="side-nav-text">DASHBOARD</p>
    </div>
    <div class="row side-nav-list flex-v"
      routerLink="/{{type}}/{{viewId}}/doctors" 
      [routerLinkActiveOptions]="routerOptions"
      routerLinkActive="active" (click)="drawer.toggle()">
      <i class="appicon app-doctors side-nav-icon"></i> <p class="side-nav-text">DOCTORS</p>
    </div>
    <div class="row side-nav-list flex-v" 
      routerLink="/{{type}}/{{viewId}}/chemists" 
      [routerLinkActiveOptions]="routerOptions"
      routerLinkActive="active" (click)="drawer.toggle()">
      <i class="appicon app-chemists side-nav-icon"></i> <p class="side-nav-text">CHEMISTS</p>
    </div>
    <div class="row side-nav-list flex-v">
      <i class="appicon app-stockists side-nav-icon"></i> <p class="side-nav-text">STOCKISTS</p>
    </div>
    <div class="row side-nav-list flex-v">
      <i class="appicon app-data side-nav-icon"></i> <p class="side-nav-text">DATA</p>
    </div>
    <div class="row side-nav-list flex-v">
      <i class="appicon app-expenses side-nav-icon"></i> <p class="side-nav-text">EXPENSES</p>
    </div>
    <div class="row side-nav-list flex-v">
      <i class="appicon app-plans side-nav-icon"></i> <p class="side-nav-text">PLANS</p>
    </div>
  </mat-drawer>
  <div class="row main-header flex-aic-jcsb">
    <div class="flex-aic-jcsb">
      <i *ngIf="burgerIcon" class="appicon app-hamburger burger-icon" (click)="drawer.toggle()"></i>
      <i *ngIf="arrowLeftIcon" class="appicon app-back-arrow arrow-left" (click)="location.back()"></i>
      <h4 class="m-header">{{header}}</h4>
      &nbsp;&nbsp;&nbsp;<span *ngIf="fromDate && endDate" class="h-date-duration">{{fromDate}}  -  {{endDate}}</span>
    </div>
    <i *ngIf="search" class="appicon app-search search-icon"></i>
    <div *ngIf="lastUpdated">
      <p class="header-text">Last Updated </p>
      <p class="header-date">{{lastUpdated | date:'dd-MM-yyyy'}} </p>
    </div>
  </div>
</mat-drawer-container>