<section class="sticky-top">
  <app-header [header]="productName" [burgerIcon]="false" [arrowLeftIcon]="true"></app-header>
</section>
<div class="row dashboard-container mt-64" [ngStyle]="{'min-height': windowHeight-94+'px'}">
  <div class="row filter-header flex-aic-jcsb">
    <p class="filter-text">
    </p>
    <p-dropdown [options]="durations" styleClass="app-filter-dropdown right-panel width-100" 
      [(ngModel)]="selectedDuartion" (onChange)="onChangeDurationType()">
    </p-dropdown>
  </div>
  <div class="row flex-aic-jcsb right-left-nav">
    <i class="fa fa-angle-left angle-left-icon" (click)="goToPreviousDuration()"></i>
    <i class="fa fa-angle-right angle-right-icon" (click)="goToNextDuration()"></i>
  </div>
  <div [chart]="chart"></div>
</div>