<p-dialog [visible]="visible" 
    modal="modal" (onHide)="onHide.emit()" 
    [responsive]="true" styleClass="app-dialog choose-file-dialog"
    [closable]="false" [showHeader]="false" appendTo="body">
    <div class="row text-center">
        <span class="appicon app-successfull success-icon">
          <span class="path1"></span><span class="path2"></span>
        </span>
        <p class="text success-text">Updated Successfully</p>
    </div>
    <div class="row mt-25px">
        <button class="app-btn w-200 flex-aic-jcc" (click)="location.back()">OK</button>
    </div>
</p-dialog>