<div class="row dashboard-container">
  <p-table [value]="doctorSales" styleClass="app-table">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th pSortableColumn="s_no" class="width-15 text-left">
          <p-sortIcon field="s_no"></p-sortIcon> S.No
        </th>
        <th pSortableColumn="doctorLicenseNo" class="width-15 text-left">
          <p-sortIcon field="doctorLicenseNo"></p-sortIcon> ID
        </th>
        <th pSortableColumn="doctor.name" class="text-left">
          <p-sortIcon field="doctor.name"></p-sortIcon> Name
        </th>
        <th pSortableColumn="quantity" class="text-left">
          <p-sortIcon field="quantity"></p-sortIcon> Prescribed
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-index="rowIndex">
      <tr>
        <td class="br-word">{{index + 1}}</td>
        <td class="br-word">{{rowData.doctorLicenseNo}}</td>
        <td class="br-word">{{rowData.doctor.name}}</td>
        <td class="br-word">{{rowData.quantity}} &nbsp; ( {{rowData.dateOfSold | date:'MMM dd'}} )</td>
      </tr>
    </ng-template>
  </p-table>
</div>