//
$tableBorderColor:#dcdcdc;
$tableHeaderBgColor:#f4dbbb;
$tableHeaderColor:#1b1d1f;
$tableEvenRowBgColor:#fff;
//
.app-table {
    border-left: 1px solid $tableBorderColor;
    border-right: 1px solid $tableBorderColor;
    &.ui-table .ui-table-thead>tr>th {
        background: $tableHeaderBgColor;
        border: none;
        border-top: 1px solid $tableBorderColor;
        border-bottom: 1px solid $tableBorderColor;
        color: $tableHeaderColor;
    }
    &.ui-table .ui-table-tbody>tr>td {
        border: none;
        border-top: 1px solid $tableBorderColor;
        border-bottom: 1px solid $tableBorderColor;
    }
    &.ui-table .ui-table-tbody>tr:nth-child(even) {
        background: $tableEvenRowBgColor;
    }
    &.ui-table .ui-table-tbody>tr>td {
        padding: .7em .5em;
    }
}