@font-face {
  font-family: 'pharmaicon';
  src:  url('../fonts/pharmaicon.eot?l6cxc');
  src:  url('../fonts/pharmaicon.eot?l6cxc#iefix') format('embedded-opentype'),
    url('../fonts/pharmaicon.woff?l6cxc') format('woff'),
    url('../fonts/pharmaicon.svg?l6cxc#pharmaicon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.appicon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'pharmaicon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.app-up-arrow:before {
  content: "\e900";
}
.app-down-arrow:before {
  content: "\e901";
}
.app-add:before {
  content: "\e902";
}
.app-appending-data:before {
  content: "\e903";
}
.app-back-arrow:before {
  content: "\e904";
}
.app-calls:before {
  content: "\e905";
}
.app-chemists:before {
  content: "\e906";
}
.app-choose-file:before {
  content: "\e907";
}
.app-dashboard:before {
  content: "\e908";
}
.app-data:before {
  content: "\e909";
}
.app-date:before {
  content: "\e90a";
}
.app-doctors:before {
  content: "\e90b";
}
.app-enter-data:before {
  content: "\e90c";
}
.app-expenses:before {
  content: "\e90d";
}
.app-filter:before {
  content: "\e90e";
}
.app-filtering-data:before {
  content: "\e90f";
}
.app-hamburger:before {
  content: "\e910";
}
.app-knowledge-bank:before {
  content: "\e911";
}
.app-list-view:before {
  content: "\e912";
}
.app-location:before {
  content: "\e913";
}
.app-map-view:before {
  content: "\e914";
}
.app-messages:before {
  content: "\e915";
}
.app-name:before {
  content: "\e916";
}
.app-number:before {
  content: "\e917";
}
.app-planned-visits:before {
  content: "\e918";
}
.app-plans:before {
  content: "\e919";
}
.app-search:before {
  content: "\e91a";
}
.app-stockists:before {
  content: "\e91b";
}
.app-successfull:before {
  content: "\e91c";
}
.app-target-status:before {
  content: "\e91d";
}
.app-up-down-arrow:before {
  content: "\e91e";
}
.app-upload:before {
  content: "\e91f";
}
.app-uploading:before {
  content: "\e920";
}
.app-drop-down:before {
  content: "\e921";
}
.app-location-map:before {
  content: "\e922";
}
.app-update:before {
  content: "\e923";
}