//
$chooseFileIconCololr:$primeColor;
//
.choose-file-dialog {
    display: -webkit-box !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: -webkit-flex !important;
    display: flex !important;
    @include align-items(center !important);
    @include justify-content(center !important);
}

.choose-file-icon {
    font-size: 75px;
    margin-bottom: 20px;
    color: $chooseFileIconCololr;
}