//
$dashboardContainerBgColor:$containerBgColor;
$chartTitleColor:#f3a236;
//
.dashboard-container {
    padding: 15px;
    background: $dashboardContainerBgColor;
}

.chart-tile-text {
    font-size: 12px;
    font-weight: bold;
    color: $chartTitleColor;
    text-transform: uppercase;
}

.right-left-nav {
    background: #fff;
    padding: 5px 15px;
    .angle-left-icon {
        font-size: 1.8em;
    }
    .angle-right-icon {
        font-size: 1.8em;
    }
}