//
$filterStripeBgColor:$darkColor;
$filterStripeColor:#fff;
//
.filter-header {
    padding: 10px 15px;
    background: $filterStripeBgColor;
}

.filter-icon {
    font-size: 2em;
    color: $filterStripeColor;
}

.filter-text {
    font-size: 15px;
    color: $filterStripeColor;
    font-weight: normal;
}

.arrow-down-icon {
    font-size: 12px;
}