html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Lato', sans-serif;
    background: #f8f7f7;
}

.row {
    clear: both;
}

.pull-left {
    float: left;
}

.img-responsive {
    width: 100%;
}

.pull-right {
    float: right;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-upper {
    text-transform: uppercase;
}

.br-word {
    word-wrap: break-word;
}

.pad0 {
    padding: 0;
}

.sticky-top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.flex {
    @include flexbox();
}

.flex-v {
    @include flexbox();
    @include align-items(center);
}

.flex-aic-jcsb {
    @include flexbox();
    @include align-items(center);
    @include justify-content(space-between);
}

.flex-aic-jcc {
    @include flexbox();
    @include align-items(center);
    @include justify-content(center);
}

///App Button
.app-btn {
    color: $appBtnColor;
    border: 1px solid $appBtnBorderColor;
    border-radius: $appBtnBorderRadius;
    text-align: center;
    padding: 10px;
    font-size: $appBtnFontSize;
    font-weight: $appBtnFontWeight;
    background: $appBtnBgColor;
    i {
        font-size: 1.3em;
        margin-right: 7px;
    }
    &:focus {
        outline: none;
    }
    &.active {
        color: $appBtnActiveColor;
        background: $appBtnActiveBgColor;
    }
}

///
///App Dialog
.app-dialog {
    &.ui-dialog {
        width: 95%;
        min-height: 35% !important;
    }
    &.ui-dialog.ui-widget .ui-dialog-content {
        padding: 15px 20px;
    }
}

///
.app-file-upload {
    .ui-button-text-icon-left .fa {
        display: none;
    }
    .ui-button-text-icon-left .ui-button-text {
        font-size: 14px;
        font-weight: bold;
        padding: .7em 2.2em .7em 2.2em;
    }
    .ui-button.ui-fileupload-choose {
        background: $inputFileBtnBgColor;
        border: 2px solid $inputFileBtnBorderColor;
        color: $inputFileBtnColor;
    }
    .ui-fileupload-choose:not(.ui-state-disabled):active,
    .ui-fileupload-choose:not(.ui-state-disabled):hover {
        background: $inputFileBtnActiveBgColor;
        border: 2px solid $inputFileBtnActiveBorderColor;
        color: $inputFileBtnActiveColor;
    }
}

///
.app-progressbar {
    height: 5px;
    &.ui-progressbar.ui-progressbar-indeterminate .ui-progressbar-value {
        background-color: $progressbarLoadingColor;
    }
    &.ui-progressbar.ui-progressbar-indeterminate {
        background: $progressbarBgColor;
    }
}

//app-multiselect
.app-filter-multiselect {
    &.ui-multiselect {
        border: none;
        background: $darkColor;
    }
    &.ui-multiselect:not(.ui-state-disabled):hover {
        border: none;
        background: $darkColor;
    }
    &.ui-multiselect.ui-state-focus {
        box-shadow: none;
    }
    &.ui-multiselect .ui-multiselect-label {
        background: $darkColor;
        color: #bcb5b4;
    }
    .ui-multiselect-trigger {
        border: none;
        background: $darkColor;
        color: #c27a20;
    }
    .ui-multiselect-panel {
        width: 45vw;
    }
    &.left-panel .ui-multiselect-panel {
        top: 42px !important;
        left: -14px !important;
    }
}

.app-filter-dropdown {
    &.ui-dropdown {
        border: none;
        background: $darkColor;
    }
    &.ui-dropdown:not(.ui-state-disabled):hover {
        border: none;
        background: $darkColor;
    }
    &.ui-dropdown.ui-state-focus {
        box-shadow: none;
    }
    &.ui-dropdown .ui-dropdown-label {
        background: $darkColor;
        color: #bcb5b4;
    }
    .ui-dropdown-trigger {
        border: none;
        background: $darkColor;
        color: #c27a20;
    }
    .ui-dropdown-panel {
        width: 45vw;
    }
    &.right-panel .ui-dropdown-panel {
        top: 40px !important;
        left: unset !important;
        right: -15px !important;
        width: 45vw;
    }
    &.width-100 {
        width: 100px !important;
    }
}