//
$listContainerBgColor:$containerBgColor;
$listCardBgColor:#fff;
$listCardHeadColor:#6f6f6f;
$listCardColor:#c4c4c4;
//
.list-container {
    background: $listContainerBgColor;
    padding: 5px 15px;
}

.mt-150 {
    margin-top: 150px;
}

.list-view {
    background: $listCardBgColor;
    padding: 10px;
    margin-bottom: 5px;
}

.list-details {
    margin-left: 10px;
}

.list-head {
    font-size: 14px;
    color: $listCardHeadColor;
    font-weight: bold;
}

.list-text {
    font-size: 12px;
    color: $listCardColor;
    font-weight: normal;
}

.list-timings {
    text-align: right;
}