//
$headerBackgroud:#fff;
$headerColor:#000;
$headerTextColor:#b5b5b5;
$headerFontFamily:'Georgia',
sans-serif;
$headerDateDurationColor:$primeColor;
$headerIconcolor:#666;
//
$sideNavWidth:41.86%;
$sideNavBgColor: $darkColor;
$sideNavTextColor: #a09594;
$sideNavActiveTextColor: $darkColor;
$sideNavActiveBgColor: $primeColor;
//
.main-header {
    background: $headerBackgroud;
    padding: 18px 15px;
}

.burger-icon {
    font-size: 1.8em;
    font-weight: bold;
    color: $headerIconcolor;
}

.arrow-left {
    font-size: 1.3em;
    color: $headerIconcolor;
}

.m-header {
    font-size: 17px;
    color: $headerColor;
    margin-left: 10px;
    font-family: $headerFontFamily;
    font-weight: bold;
}

.header-text {
    color: $headerTextColor;
    font-size: 12px;
}

.h-date-duration {
    color: $headerDateDurationColor;
    font-size: 14px;
    text-transform: uppercase;
}

.header-date {
    color: $headerTextColor;
    font-size: 14px;
}

.search-icon {
    font-size: 1.3em;
    font-weight: bold;
    color: $headerIconcolor;
}

.side-nav {
    width: $sideNavWidth;
    height: 100%;
    background: $sideNavBgColor;
}

.side-nav.mat-drawer {
    top: 64px;
    position: fixed;
}

.main-drawer mat-drawer-content {
    margin: 0 !important;
}

.side-nav-list {
    padding: 16px;
    color: $sideNavTextColor;
}

.side-nav-list.active {
    color: $sideNavActiveTextColor;
    background: $sideNavActiveBgColor;
}

.side-nav-icon {
    font-size: 1.2em;
    font-weight: bold;
}

.side-nav-text {
    margin-left: 7px;
    font-size: 15px;
}