//
$singleViewContainerBgColor:$containerBgColor;
$singleViewLabelColor:#818181;
$singleViewTextColor:#818181;
$updateIconColor:$primeColor;
$locationIconColor:$primeColor;
//
.single-view {
    padding: 15px;
    background: $singleViewContainerBgColor;
}

.single-details-card {
    background: #fff;
    padding: 10px;
}

.single-details {
    padding: 15px 0;
}

.detail-row {
    margin-bottom: 20px;
}

.detail-head {
    font-size: 14px;
    color: $singleViewLabelColor;
    width: 45%;
    float: left;
}

.detail-text {
    font-size: 14px;
    color: $singleViewTextColor;
    width: 55%;
    float: left;
}

.update-icon {
    color: $updateIconColor;
    font-size: 1.8em;
}

.location-icon {
    color: $locationIconColor;
    font-size: 24px;
}

.details-footer {}

.pos-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}