//
$successIconColor:$successColor;
$successTextColor:$successColor;
//
.success-icon {
    color: $successIconColor;
    font-size: 65px;
}

.success-text {
    font-size: 14px;
    color: $successTextColor;
    margin-top: 7px;
}