//
$tabBgColor:$primeColor;
$tabActiveBgColor:#f8f7f7;
$tabColor:#fff;
$tabActiveColor:$primeColor;
$tabFontSize:15px;
//
.tab-view {}

.tab-menu {
    padding: 10px;
    text-align: center;
    background: $tabBgColor;
    color: $tabColor;
}

.tab-menu:focus {
    outline: none;
}

.tab-menu.active {
    background: $tabActiveBgColor;
    color: $tabActiveColor;
}

.tab-icon {
    font-size: 1.6em;
    margin-right: 5px;
}

.tab-text {
    font-size: $tabFontSize;
    font-weight: bold;
}

.w-50 {
    width: 50%;
}