//
$uploadingIconColor:$primeColor;
$uploadingTextColor:$primeColor;
//
.app-dialog.uploading-dialog.ui-dialog.ui-widget .ui-dialog-content {
    padding: 11.4% 20px;
}

.uploading-icon {
    color: $uploadingIconColor;
    font-size: 65px;
}

.uploading-text {
    font-size: 14px;
    color: $uploadingTextColor;
    margin-top: 7px;
    font-weight: bold;
}