$primeColor:#ee9c34;
$darkColor:#422c2a;
$successColor:#5cb85c;
//
$appBtnBgColor:#fff;
$appBtnColor:$primeColor;
$appBtnActiveBgColor:$primeColor;
$appBtnActiveColor:#fff;
$appBtnBorderColor:$primeColor;
$appBtnBorderRadius:1px;
$appBtnFontSize:14px;
$appBtnFontWeight:bold;
//
$inputFileBtnBgColor:#fff;
$inputFileBtnActiveBgColor:#fff;
$inputFileBtnColor:$primeColor;
$inputFileBtnActiveColor:$primeColor;
$inputFileBtnBorderColor:$primeColor;
$inputFileBtnActiveBorderColor:$primeColor;
//
$progressbarLoadingColor:$primeColor;
$progressbarBgColor:#dcdcdc;
//
$containerBgColor:#f8f7f7;
//