<section class="sticky-top">
  <app-header header="Dashboard"></app-header>
</section>
<div class="row dashboard-container mt-64" [ngStyle]="{'min-height': windowHeight-94+'px'}">
  <div class="row filter-header flex-aic-jcsb">
    <p-multiSelect [options]="products" 
      defaultLabel="Select" styleClass="app-filter-multiselect left-panel" 
      selectedItemsLabel="{0} selected" [maxSelectedLabels]="0" 
      [(ngModel)]="selectedProducts" optionLabel="name"
      [showToggleAll]="false"
      (onChange)="getProductTargetSales()">
    </p-multiSelect>
    <p-dropdown [options]="durations" styleClass="app-filter-dropdown right-panel width-100" 
      [(ngModel)]="selectedDuartion" (onChange)="onChangeDurationType()">
    </p-dropdown>
  </div>
  <div class="row flex-aic-jcsb right-left-nav">
    <i class="fa fa-angle-left angle-left-icon" (click)="goToPreviousDuration()"></i>
    <span class='chart-tile-text'>{{startDate | date:'MMM-dd-yy'}} &nbsp; - &nbsp; {{endDate | date:'MMM-dd-yy'}}</span>
    <i class="fa fa-angle-right angle-right-icon" (click)="goToNextDuration()"></i>
  </div>
  <div [chart]="chart"></div>
</div>