<app-header 
  [burgerIcon]="false" [arrowLeftIcon]="true" 
  [search]="false" header="{{chemist?.name}}" 
  lastUpdated="{{chemist?.lastVisit}}">
</app-header>
<app-tab-view [tabs]="tabs"></app-tab-view>
<div class="row single-view" [ngStyle]="{'min-height': windowHeight-136+'px'}">
  <router-outlet></router-outlet> 
</div>


