<div class="single-details-card">
  <div class="row detail-row">
    <div class="detail-head">Company Name</div>
    <div class="detail-text">
      <b>{{chemist?.name}}</b>
    </div>
    <div class="row"></div>
  </div>
  <div class="row detail-row"> 
    <div class="detail-head">Owner Name</div>
    <div class="detail-text">{{chemist?.ownerName}}</div>
    <div class="row"></div>
  </div>
  <div class="row detail-row">
    <div class="detail-head">Last Visited:</div>
    <div class="detail-text">
      {{chemist?.lastVisit | date:'dd-MM-yyyy hh : mm'}} &nbsp; <i class="appicon app-update update-icon"></i>
    </div>
    <div class="row"></div>
  </div>
  <div class="row detail-row">
    <div class="detail-head">License number:</div>
    <div class="detail-text">{{chemist?.licenseNo}}</div>
    <div class="row"></div>
  </div>
  <div class="row detail-row">
    <div class="detail-head">Phone No:</div>
    <div class="detail-text">{{chemist?.phoneNo}}</div>
    <div class="row"></div>
  </div>
  <div class="row detail-row">
    <div class="detail-head">E-mail Address:</div>
    <div class="detail-text">{{chemist?.emailId}}</div>
    <div class="row"></div>
  </div>
  <div class="row detail-row">
    <div class="detail-head">Location:</div>
    <div class="detail-text">
      <i class="appicon app-location-map location-icon"></i>
    </div>
    <div class="row"></div>
  </div>
  <div class="row detail-row">
    <div class="detail-head">Address:</div>
    <div class="detail-text">{{chemist?.address.doorNo}},{{chemist?.address.line1}} {{chemist?.address.line2}}, {{chemist?.address.district}}, {{chemist?.address.state}} {{chemist?.address.pincode}}</div>
    <div class="row"></div>
  </div>
  <br>
  <br>
  <div class="details-footer flex-aic-jcsb">
    <button class="app-btn w-100pr flex-aic-jcc" (click)="chooseFileVisble = true">
      <i class="appicon app-upload"></i> UPLAOD DATA</button>
  </div>
</div>

<app-success-dialog 
  [visible]="successDialogVisble" 
  (onHide)="successDialogVisble = false">
</app-success-dialog>

<app-uploading-dialog 
  [visible]="uploadingDialogVisble" 
  (onHide)="uploadingDialogVisble = false">
</app-uploading-dialog>

<app-choose-file-dialog 
  [visible]="chooseFileVisble" 
  [viewId]="chemistId" 
  (onHide)="chooseFileVisble = false"
  (uploadHandler)="onUploadCsv($event)">
</app-choose-file-dialog>