<div class="row tab-view flex-aic-jcsb">
  <div *ngFor="let tab of tabs" [ngStyle]="{'width': (100/tabs.length)+'%'}" class="tab-menu flex-aic-jcc"
    [routerLink]="tab.url" 
    [routerLinkActiveOptions]="routerOptions" 
    routerLinkActive="active" >
    <i *ngIf="tab.icon" class="appicon {{tab.icon}} tab-icon"></i>
    <span class="tab-text">{{tab.text}}</span>
  </div>
</div>
