<p-dialog [visible]="visible"  [dismissableMask]="true"
    modal="modal" [responsive]="true" (onHide)="onHide.emit()" styleClass="app-dialog choose-file-dialog"
    [closable]="true" [showHeader]="false" appendTo="body">
    <div>
        <div class="row text-center">
            <i class="appicon app-choose-file choose-file-icon"></i>
        </div>
        <div class="row mt-25px">
            <p-fileUpload #inputFile
                mode="basic" accept=".csv" 
                class="app-file-upload"
                [customUpload]="true"
                auto="true" 
                chooseLabel="CHOOSE FILE"
                (uploadHandler)="onUpload($event,inputFile)">
            </p-fileUpload>
        </div>
    </div>
</p-dialog>
