<p-dialog [visible]="visible" 
    modal="modal" (onHide)="onHide.emit()" 
    [responsive]="true" styleClass="app-dialog uploading-dialog"
    [closable]="false" [showHeader]="false" appendTo="body">
    <div class="row text-center">
        <span class="appicon app-uploading uploading-icon">
          <span class="path1"></span><span class="path2"></span>
        </span>
        <p class="text uploading-text">UPLOADING</p>
    </div>
    <div class="row mt-50px">
        <p-progressBar mode="indeterminate" styleClass="app-progressbar"></p-progressBar>
    </div>
</p-dialog>