<div class="row list-container mt-150">
  <div *ngFor="let chemi of chemists" class="list-view flex-aic-jcsb" 
    [routerLink]="chemi.chemistId">
    <div class="flex-aic-jcsb">
      <!-- <img src={{baseUrl}}{{chemi.image}} /> -->
      <img src="assets/images/doctor.png" />
      <div class="list-details">
        <p class="list-head">{{chemi?.name}}</p>
        <p class="list-text">{{chemi?.chemistId}}</p>
        <p class="list-text">{{chemi?.address?.pincode}}</p>
      </div>
    </div>
    <div class="list-timings">
      <p class="list-head">Last Visited</p>
      <p class="list-text">{{chemi?.lastVisit | date:'dd-MM-yyyy hh : mm'}}</p>
    </div>
  </div>
</div>
