<section class="sticky-top">
  <app-header header="Chemists"></app-header>
  <app-tab-view [tabs]="tabs"></app-tab-view>
  <app-filter-stripe></app-filter-stripe>
</section>
<div>
  <router-outlet></router-outlet>
</div>
<app-footer></app-footer>
