<div class="row filter-header flex-aic-jcsb">
  <p class="filter-text flex-aic-jcsb" (click)="sortByName()">
      Name &nbsp; 
      <i class="appicon arrow-down-icon" 
        [class.app-up-down-arrow]="!nameSortOrder"
        [class.app-up-arrow]="nameSortOrder === 1"
        [class.app-down-arrow]="nameSortOrder === -1">
      </i>
  </p>
  <p class="filter-text flex-aic-jcsb" (click)="sortByLastVist()">
    Last Visited &nbsp; 
    <i class="appicon arrow-down-icon"
      [class.app-up-down-arrow]="!lastVistSortOrder"
      [class.app-up-arrow]="lastVistSortOrder === 1"
      [class.app-down-arrow]="lastVistSortOrder === -1">
    </i>
  </p>
</div>
