<section class="sticky-top">
  <app-header 
    [header]="product" 
    [arrowLeftIcon]="true" [burgerIcon]="false" [fromDate]="startD" [endDate]="endD">
  </app-header>
  <app-tab-view [tabs]="tabs"></app-tab-view>
</section>
<div style="margin-top:95px">
  <router-outlet></router-outlet>
</div>